<h1>hola estas en la home</h1>


<a href="/tweets">Ve a ver la lista de tweets</a>

<div></div>
<a href="/user/new" class="btn btn-primary">New User</a>
<a href="/login" class="btn btn-primary">Log In</a>
</div>









